:root {
    --main-color: #171717;
    --second-color: rgb(31, 35, 45);
    --main-color-font: white;
    --second-color-font: #016dd9;
    --logo-font: 30px;
    --title-font: 18px;
    --content-font: 15px;
    --copy-font: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-size: 40px;
    color: #fff;
}
body {
    background: var(--second-color);
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: var(--main-color);
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: var(--logo-font);
    color: var(--main-color-font);
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: 'Roboto Flex', sans-serif;
    font-size: var(--content-font);
    color: var(--main-color-font);
    font-weight: 600;
}

section {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 1rem;
}

#cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: space;
}

#cardsContainer h1 {
    color: var(--main-color-font);
    font-size: var(--title-font);
    font-weight: 600;
    margin: 5px;
}

#cardsContainer p {
     color: var(--main-color-font);
    font-size: var(--content-font);
    font-weight: 500;
    margin: 5px;
}

#cardsContainer button {
    padding: 0.8rem;
    border: 2px solid var(--main-color-font);
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    transition: .3s;
    color: white;
    cursor: pointer;
}

#cardsContainer img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
	height: 390px;
	overflow: hidden;
}

.searching {
    display: flex;
    justify-content: center;
    background: var(--second-color);
    padding: 1rem;
}

#search {
    padding: 1rem;
}

#add {
    padding: 0.8rem;
    border: 2px solid var(--main-color-font);
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    color: white;
    cursor: pointer;

}

#btn-favorites, #btn-movies {
    padding: 0.8rem;
    border: 2px solid var(--main-color-font);
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    color: white;
    cursor: pointer;
}

#cardContainerFavorite {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: space;
}

#cardContainerFavorite h1 {
    color: var(--main-color-font);
    font-size: var(--title-font);
    font-weight: 600;
    margin: 5px;
}

#cardContainerFavorite p {
     color: var(--main-color-font);
    font-size: var(--content-font);
    font-weight: 500;
    margin: 5px;
}

#cardContainerFavorite button {
    padding: 0.8rem;
    border: 2px solid var(--main-color-font);
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    transition: .3s;
    color: white;
    cursor: pointer;
}

#cardContainerFavorite img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
	height: 390px;
	overflow: hidden;
}

#favorites {
    display: none;
}

#movies {
    display: block;
}
